.btn-1 {
  background: linear-gradient(
    117deg,
    #384a65 -81.04%,
    #6e8ebd 135.17%
  ) !important;

  box-shadow: 8px 8px 60px rgba(60, 73, 92, 0.2) !important;
  border-radius: 10px !important;

  color: white !important;
}
