.t1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #43546f;
}

.t2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #43546f;
}

.t3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #43546f;
}

.t4 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #43546f;
}

.t4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #43546f;
}

.label {
  color: #64748b;
}

.bold {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 27px !important;
  color: #435673 !important;
}
